body{
    text-align: center;
    
    
    background-color: blueviolet;
}
main{

    background-color: white;
    max-width: 200px;
    margin:  auto;
    display: grid;
    margin-top: 100px;
    width:100%;
    padding: 200px;
    
    border-style: solid;
    border-bottom-width: 5px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-radius: 15px;
}